* {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #57585b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #192546;
}

.style {
  font-style: normal;
}

.hero {
  height: 100svh;
  /* border: 1px solid red; */
}

.intro {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.sub-intro {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.btn button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: linear-gradient(93deg, #cf60d1 10.33%, #2c91ef 99.93%);
}

.gradient-text {
  background: linear-gradient(92deg, #cf60d1 25.26%, #348bf0 93.91%);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
}

.test {
  background-image: url("./assets/heroMobile_.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  /* border: 1px solid white; */
  background-size: cover;
}

.bar {
  display: block;
  width: 10px;
  border-radius: 25%;
  height: 2px;
  /* margin: 5px auto; */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.menu-open {
  overflow: hidden;
}

.head.active {
  z-index: 100;
}

.nav-menu {
  position: fixed;
  /* border: 2px solid red; */
  right: -100%;
  top: 6rem;
  flex-direction: column;
  width: 100%;
  text-align: center;
  height: 100vh;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.ok {
  transition:  0.2s ease-in-out;
}

.nav-menu.active {
  right: 0;
  /* top: 0; */
  /* z-index: 40; */
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active {
  left: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  transform: translateY(0px) rotate(-45deg);
}
.hamburger.active .dd {
  margin-bottom: 7px;
}
/* } */

@media screen and (min-width: 780px) {
  .nav-menu {
    top: 6rem;
  }
  .bar {
    width: 20px;
    height: 2.3px;
  }
  .test {
    background-image: url("./assets/heroDesktop.png");
    /* background-position: inherit; */
    /* background-attachment: fixed; */
    /* background-position-y: -90px; */

    /* background-position: 50% 50%;  */
    /* background-repeat: no-repeat; */
    background-size: cover;
  }
}
