* {
  font-family: "Poppins", sans-serif;
}

.style {
  font-style: normal;
}

.hero {
  height: 100svh;
}

.intro {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.sub-intro {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.btn button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: linear-gradient(93deg, #cf60d1 10.33%, #2c91ef 99.93%);
}

.gradient-text {
  background: linear-gradient(92deg, #cf60d1 25.26%, #348bf0 93.91%);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
}

.test {
  background-image: url("./assets/heroMobile_.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 780px) {
  .test {
    background-image: url("./assets/heroDesktop.png");
    /* background-position: inherit; */
    background-attachment: fixed;
    /* background-position-y: -90px; */

    /* background-position: 50% 50%; 
    background-repeat: no-repeat; */
    background-size: cover;
  }
}
